*{
    margin: 0;
    padding: 0;
}
/* fuente */
html{
    font-family: 'Fjalla One', sans-serif;
}
/* body*/
.bodyC{
    min-height: 100vh;
}
.tableServ:hover{
    transform: translateY(-30px);
    transition: all 3s;
}
.navTran a:hover{
    font-size: large;
    font-weight: bold;
} 
.botonEsp:hover{
    animation: botones 5s;
    transform: translateY(-30px);
    transition: all 4s;
}
@keyframes botones {
    0%{
        border-radius: 4rem;
        background-color: yellow;
        
    }
    30%{
        border-radius: 7rem;
    }
    50%{
        background-color: rgb(237, 172, 20);
        border-radius: 9rem;
    }
    85%{
        border-radius: 5rem;
        background-color: gray;
    }
}
.imgNos{
    width: 100%;
    height: auto;
    
}
/*espacios*/
.circle{
    border-radius: 2rem;
    height: 100%;
    width: 100%;
    margin: 5rem auto;
    background-color: rgb(221, 183, 32);
}
.encabezado, .piePag {
    border-radius: 1.5rem;
    background-color: grey;
}
.piePag a{
    text-decoration: none;
}
